<div class="well well-elderflower">
  <%= content_tag :fieldset do %>
  <div class='control-group'>
    <h4>You do not need to create an account to checkout</h4>
    <p>You will have an option to create an account when you complate your order</p>
    <center><%= link_to 'Continue as a Guest', edit_cart_path(current_order), class: 'btn btn-primary' %></center>
  </div>
  <% end %>
</div>