<footer>
  <div class='container'>
    <div class='row'>
      <div class='span5 copy-right'>
        <span>Copyright ©  Artellectual Co., Ltd., All rights reserved </span>
      </div>
    </div>
  </div>
</footer>