<footer>
  <div class='container'>
    <div class='row'>
      <div class='copy-right pull-right'>
        <p>© Copyright 2012 | Artellectual Co., Ltd Thailand | All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>