<div class="navbar navbar-pastel navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path, class: "brand" do %>Shopper<% end %>
      <%= render "layouts/shared/navigation" %>
    </div>
  </div>
</div>