<div class="hero-unit">
  <div class="container">
    <h1>Smart, Beautiful.</h1>
    <p>Since the 1800s.</p>
    <p><%= link_to "Register", new_user_registration_path, class: 'btn btn-inverse btn-large' unless current_user %></p>
  </div>
</div>
<div class='container'>
  <ul class="thumbnails">
    <%= render @products %>
  </ul>
</div>