<div class="modal-header hide">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Shopping Cart</h3>
</div>
<div class="modal-body">
  <%= render 'items/items', items: current_order.items, partial_type: 'form' %>
</div>
<div class='modal-footer'>
  <a class='btn btn-success' data-dismiss='modal' aria-hidden='true '>Continue Shopping</a>
  <%= link_to 'Check Out', edit_order_path(current_order), class: 'btn btn-primary pull-right' %>
</div>