<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Shopping Cart</h3>
</div>
<div class="modal-body">
  <div class='alert no-bottom'>Your shopping cart is currently empty.</div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>