<div id="viewCart" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Cart items</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width='20'></th>
          <th>Product Name</th>
          <th width='40'>Quantity</th>
          <th>Unit Price</th>
          <th>Full Price</th>
        </tr>
      </thead>
      <%= render @order.items %>
    </table>
    <%= link_to 'Check out', edit_order_path(@order), class: 'btn btn-primary pull-right' %>
  </div>
</div>