<li>
  <%= link_to user_order_path(current_user, order), remote: true do %>
    <%= l order.updated_at, format: :long %> (<%= pluralize(order.items.size, 'item') %>)
  <% end %>
  <span class='label label-success pull-right'><%= order.state.humanize %></span>
</li>