<div id="viewCart" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Your shopping cart contains the following items:</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product pic</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Full Price</th>
        </tr>
      </thead>
      <% @cart.cart_items.each do |cart_item| %>
        <%= content_tag_for :tr, cart_item do %>
          <%= render cart_item %>
        <% end %>
      <% end %>
      <tr>
        <td colspan="4"><p class="pull-right">Total:</p></td>
        <td colspan="1"><%= number_to_currency @cart.total_price %></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <%= link_to 'Check out', new_cart_address_path(@cart), class: 'btn btn-primary' %>
  </div>
</div>