<div class="modal-header hide">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4>Shopping Cart</h4>
</div>
<div class="modal-body empty">
  <div class='alert no-bottom'>Your shopping cart is empty.</div>
</div>
<div class="modal-footer">
  <a class='btn btn-success' data-dismiss='modal' aria-hidden='true '>Continue Shopping</a>
</div>