<div class="modal-header hide">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4>Shopping Cart</h4>
</div>
<div class="modal-body">
  <%= render 'carts/items/items', cart: cart %>
</div>
<div class='modal-footer'>
  <a class='btn btn-success' data-dismiss='modal' aria-hidden='true '>Continue Shopping</a>
  <%= link_to 'Check Out', check_out, class: 'btn btn-primary pull-right' %>
</div>