<div class='container'>
  <div class='row'>
    <div class='span8 offset2'>
      <div id='view_cart' class='well well-elderflower'>
        <%= content_tag :fieldset do  %>
          <legend>Order Items</legend>
          <%= render 'items/items', items: @cart.items, partial_type: 'form' %>
        <% end %>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
