<h4>Thank you for your purchase :)</h4>
<p>Your transaction has been completed.</p>
<p>If you have any questions about your order, or comments about your shopping experience, please contact our and let our know.</p>
<strong>Shopper Team</strong><br>
<%= @order.address.email %>
