<div class="container">
  <div class='row'>
    <div class='span8 offset2'>
      <%= form_for @address, html: { class: 'form-horizontal well well-elderflower' } do |f| %>
        <%= content_tag :fieldset do %>
          <legend>Edit Address</legend>
          <%= render 'addresses/form', f: f %>
          <div class='form-actions'>
            <%= f.submit "Save", class: 'btn btn-success btn-large span2' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>