<table class="table table-striped">
  <thead>
    <tr>
      <th width='40'></th>
      <th>Product Name</th>
      <th width='40'>Quantity</th>
      <th width='120'>Unit Price</th>
      <th width='120'>Full Price</th>
    </tr>
  </thead>
  <tbody>
    <% items.includes(:product).each do |item| %>
      <%= content_tag_for :tr, item, class: 'no-bottom' do %>
        <%= render item %>
      <% end %>
    <% end %>
  </tbody>
</table>