body.home
  div.hero-unit  
    border-radius: 0px
    height: 200px
    background-image: -webkit-linear-gradient(top, white 0%,rgba(200, 200, 200, 0.1) 2%,rgba(255, 255, 255, 0) 10%), -webkit-linear-gradient(bottom, white 0%,rgba(200, 200, 200, 0.1) 2%,rgba(255, 255, 255, 0) 100%), url(asset-path('project_papper.png', 'image'))
    margin-bottom: 0px
    h1
      color: #aa66ff
      text-shadow: 0px 2px 1px black
    p.sign_me_up
      text-align: right
      position: relative
      top: 180px
      a 
        padding: 15px 26px
    p.lead
      margin-bottom: 10px
      margin-top: 10px
      font-size: 20px
      font-weight: bold
  > div.initial
    padding-top: 50px
