@import "bootstrap"

$maintext: $black
$mainbackground : $white
$link: #FF7979
$hover: #FF6161
$shadow: $white
$navbar: #FF7979
$navbarBorder: #ccc
$footer: #f1f1f1

body
  padding-top: 60px
  color: $maintext
  font-family: 'Lato', sans-serif
  background-color: darken(#FEFAF6, 1%)
  // background: $mainbackground
  // background-image: url(asset-path('bg.png', 'image'))

hr
  border-top-color: #F0DED7

a
  color: $link
<<<<<<< HEAD
  &:hover
    color: $hover
    text-decoration: none

ul.thumbnails
  li 
    > div.thumbnail
      background-color: white
      border: 1px solid #F0DED7
      padding: 0
      h1, h2, h3
        margin: 0
      h4, h5, h6
        margin: 0 0 10px 0
      a.thumb
        display: block
        height: 190px
        width: 290px
        overflow: hidden
      &.category
        padding: 0
        div.caption
          padding: 4px 9px
        a.thumb
          height: 198px
          width: 298px
=======
a:hover
  color: $hover
  text-decoration: none

.no-bottom, .control-group.no-bottom
  margin: 0
  input, textarea, td
    margin: 0

ul.thumbnails
  li > div.thumbnail
    background-color: #ffdfe3
    border: 1px solid darken(#FFD6D6, 5%)
    h1, h2, h3
      margin: 0
    h4, h5, h6
      margin: 0 0 10px 0
    a.thumb
      display: block
      height: 190px
      width: 290px
      overflow: hidden

// .btn
//   border-radius: 2px
// .btn-success
//   color: $maintext
//   background-image: -webkit-linear-gradient(top, #B0E200, #51A351)

form  
  margin-bottom: 0px
.well.well-elderflower
  background-color: white
  border-color: #F0DED7
  legend
    border-bottom-color: #DDD1C8
  .form-actions
    background-color: #F9F4F0
    border-top-color: #DDD1C8
    margin-bottom: 0

input[type='email']:focus, input[type='password']:focus, 
input[type='text']:focus,input[type='tel']:focus,input[type='number']:focus, textarea:focus
  border-style: solid
  border-color: $navbarBorder
  box-shadow: 0px 0px 5px $navbarBorder
  color: $navbarBorder
>>>>>>> updated view template, scheme

.navbar-pastel 
  .navbar-inner
    background-color: $navbar
    background-image: -moz-linear-gradient(top, darken($navbar, 3%), $navbar)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(darken($navbar, 3%)), to($navbar))
    background-image: -webkit-linear-gradient(top, darken($navbar, 3%), $navbar)
    background-image: -o-linear-gradient(top, darken($navbar, 3%), $navbar)
    background-image: linear-gradient(to bottom, darken($navbar, 3%), $navbar)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($navbar, 3%)', endColorstr='$navbar', GradientType=0)
    border-color: darken($navbar, 20%)
  .nav 
    > .active > a, 
    > .active > a:hover, 
    > .active > a:focus, 
    li.dropdown.open > .dropdown-toggle, 
    li.dropdown.active > .dropdown-toggle, 
    li.dropdown.open.active > .dropdown-toggle
      color: white
      background-color: darken($navbar, 5%)
    > li 
      > a
        &:focus,
        &:hover,
          color: white
          background-color: darken($navbar, 5%)
          border: 0
          -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
          -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
          outline: 0
  .brand, .nav > li > a
    color: white
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)

ul.dropdown-menu
  li
    a
      &:hover
        color: white
        background: $hover
  li.active
    a
      background: $link
      &:hover
        background: $hover
<<<<<<< HEAD

.no-bottom, .control-group.no-bottom
  margin: 0
  input, textarea, td
    margin: 0
=======
>>>>>>> updated view template, scheme

form  
  margin-bottom: 0px

.well
  &.well-elderflower
    background-color: white
    border-color: #F0DED7
    legend
      border-bottom-color: #DDD1C8
    .form-actions
      background-color: #F9F4F0
      border-top-color: #DDD1C8
      margin-bottom: 0

footer
  margin-top: 40px
  div.copy-right
    p
      padding: 10px 20px 0 20px
      font-weight: bold

div.modal
  width: 900px
  margin: -250px 0 0 -450px
  &.fade.in
    top: 30%
