<li class='span4'>
  <div class="thumbnail">
    <%= render_cover_for(category) %>
    <div class="caption">
      <h3><%= link_to category.name, category_products_path(category) %></h3>
    </div>
  </div>
</li>