<li class="span4">
  <div class="thumbnail">
    <%= image_tag product.cover.thumb %>
    <div class='caption'>
      <h4>
        <%= link_to product.name, product %>
        <%= content_tag :span, number_to_currency(product.price), class: 'pull-right' %>
      </h4>
      <p><%= truncate(product.description, length: 100) %><p>
    </div>
  </div>
</li>