<div class='container'>
  <div class='row'>
    <div class='span12'>
      <% if @products.size == 0 %>
        <div class='alert alert-block'>No Products</div>
      <% else %>
        <% @products.group_by(&:category).each do |category, product| %>
          <h3><%= category.name %></h3>
          <ul class="thumbnails">
            <%= render product %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>