<div class='container'>
  <div class='row'>
    <div class='span12'>
      <h3><%= @category.name %></h3>
      <ul class="thumbnails">
        <%= render @products %>
      </ul>
    </div>
  </div>
</div>