<div class='container'>
  <%= render 'search_bar' %>
  <div class='row'>
    <div class='span3'>
      <%= render 'navigation' %>
    </div>
    <div class='span9'>
      <% if @products.length == 0 %>
        <div class='alert alert-block'>No Products</div>
      <% else %>
        <ul class="thumbnails">
          <% @products.each do |product| %>
            <%= render product %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>